* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    background: $color-background-light;
}

.body_wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    @include font($size: 72px, $height: 105%);
}

h2 {
    @include font($size: 60px, $height: 125%);
}
