$color-background-light: #E1D4C9;
$color-background-dark: #665F55;
$color-text-accent: #B0907A;
$color-text-light: #E1D4C9;
$color-text-dark: #403F3D;
$color-button-dark: #665F55;
$color-button-light: #E1D4C9;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
